body {
    margin: 0;
}

nav {
    background: #333;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
}

nav ul:after {
    content: "";
    display: block;
    clear: both;
}

nav li{
    list-style: none;
    float: left;
    color: white;
    margin: 0 10px;
}


#banner {
    position: relative;
    max-height: 300px;
    overflow: hidden;
}

#banner img{
    width: 100%;
}

#banner h1 {
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    color: white;
}

.service {
    width: 29%;
    margin: 50px 1% 0;
    padding: 1%;
    float:left;
    background: grey;
    color: white;
    text-align: center;
}

.services:after {
    content: "";
    display: block;
    clear: both;
}

.content {
    padding: 10px;
    margin-top: 50px;
}

.content p {
    column-count: 3;
    column-gap: 50px;
    column-rule: 1px solid #ccc;
    text-align: justify;
}

.column {
    margin-top: 30px;
}

section, aside {
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
    background: #f2f2f2;
}

section,aside h1 {
    text-align: center;
}

aside img {
    float: left;
    margin: 10px;
}

